body {
  font-family: Arial, Helvetica, sans-serif;

 }
 
 h3 {
  text-decoration: underline;
  text-transform: uppercase;
 }
 
 .sabi {
  padding: 20px;
  text-align: center;
  background-color: rgb(251, 255, 0);
 }
 